 .card .row .column{
    width: calc(100% /3);
    background-color: white;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
    padding: 2%;
    position: relative;
}

.card .row{
    width: 100%;
    display: flex;
} 

.card {
    padding-left: 100px;
    padding-right: 100px;
}

.card  .divider{
    width: 20%;
    margin: 0;
    border-top: 2px solid red;
}

.card .row .column:hover{
    background-color:  rgb(20, 185, 240);
    color: white;
    border: none;
}
.card .row .column .divider:hover{
    border-top-color: white;
}



